parameters:
  level: 9
  paths:
    - .
  excludePaths:
    - vendor/*
    - node_modules/*
    - storage/*
    - database/*
    - tests/*
  # Using Laravel extension from parent
  includes:
    - ../../../laravel/phpstan.neon